# Dependency directories
node_modules/

# Build output
dist

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env

# for local testing of guzek-uk-common
src/middleware
!src/middleware/credentials.ts

*.key
